@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Oxygen", sans-serif;
  margin: 0;
  background-color: #dbd8a2;
}

h1 {
  font-size: 2.5rem;
  color: #1b676b;
  font-family: "Monoton", cursive;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}
